<div class="lia-quilt-row lia-quilt-row-atl-global-footer">
  <div class="lia-quilt-column lia-quilt-column-24 lia-quilt-column-single lia-quilt-column-atl-global-footer">
    <div class="lia-quilt-column-alley lia-quilt-column-alley-single">
      <div class="lia-quilt lia-quilt-footer lia-quilt-layout-atl-footer lia-component-quilt-footer">
        <div class="lia-quilt-row lia-quilt-row-atl-footer">
          <div class="lia-quilt-column lia-quilt-column-00 lia-quilt-column-single lia-quilt-column-atl-footer">
            <div class="lia-quilt-column-alley lia-quilt-column-alley-single">
              <div class="atl-footer">
                <a href="https://www.atlassian.com/" class="atl-footer__logo adg-u-color-n400">
                  <svg class="atl-icon" preserveAspectRatio="xMidYMid meet" width="150" height="19">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/html/assets/symbol/icons.sprite.svg?sha=ee92a57#atlassian-logo"></use>
                  </svg>
                </a>
                <ul class="atl-footer__links">
                  <li><a href="/t5/help/faqpage">FAQ</a></li>
                  <li><a href="/t5/custom/page/page-id/rules-of-engagement">Community guidelines</a></li>
                  <li><a href="https://www.atlassian.com/legal/privacy-policy">Privacy policy</a></li>
                  <li><a href="/t5/user/termsofservicepage">Terms of use</a></li>
                  <li>© 2018 Atlassian</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
