<div class="lia-quilt-column lia-quilt-column-24 lia-quilt-column-single lia-quilt-column-atl-navigation-column stuck">
  <div class="lia-quilt-column-alley lia-quilt-column-alley-single">
    <div class="atl-navigation-wrapper">
      <div class="atl-navigation">
        <div class="atl-navigation__masthead">
          <a href="/" class="atl-community-logo">
          </a>
        </div>
        <div class="atl-navigation__actions">
          <a
            class="adg-button--cta-yellow " id="atlcommNavLink-register"> Sign up </a>
          <a
            class="adg-button--subtle" id="atlcommNavLink-login"> Log in </a>
        </div>
      </div>
    </div>
  </div>
</div>
